<footer class="d-flex flex-column align-items-center mt-1">
    <div class="logo d-flex justify-content-center p-5">
        <img id="logo" src="ASSET/img/Logo_Beige.svg" alt="Logo Ava Moon Nail's">
    </div>
    <hr>
    <div class="d-flex flex-column ">
        <div class="d-flex flex-row gap-5">
            <p><a href="">Condition générale</a></p>
            <p><a href="">Mentions légales</a></p>
            <p><a href="">Politique de confidentialité</a></p>
        </div>
        <div class="d-flex justify-content-center">
            <p> &copy; 2025 Ava Moon Nail's. Tous droits réservés.</p>
        </div>

    </div>
</footer>