<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- * Link -->
        <!-- ! Bootstrap et Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

        <!-- ! Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" crossorigin="anonymous">

        <!-- ! FullCalendar -->
        <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/main.min.css" rel="stylesheet" />

        <!-- ! CSS -->
    <% var hideLayout = typeof hideLayout !== 'undefined' ? hideLayout : false; %>                                                  <!-- Permet d'enlever le style pour la page de connexion -->
    <% if (!hideLayout) { %>
        <link rel="stylesheet" href="/CSS/style.css">
        <link rel="stylesheet" href="/CSS/profil.css">
        <link rel="stylesheet" href="/CSS/listingEmployee.css">
        <link rel="stylesheet" href="/CSS/addEmployee.css">
        <link rel="stylesheet" href="/CSS/documents.css">
        <link rel="stylesheet" href="/CSS/addDocument.css">
        <link rel="stylesheet" href="/CSS/planning.css">
        <link rel="stylesheet" href="/CSS/navbar.css">
        <link rel="stylesheet" href="/CSS/footer.css">
        <link rel="stylesheet" href="/CSS/employeeCard.css">
        <link rel="stylesheet" href="/CSS/badgeDoc.css">
        <link rel="stylesheet" href="/CSS/planning.css">
    <% } else { %>
        <!-- Styles pour la page de login -->
        <link rel="stylesheet" href="/CSS/login.css">
    <% } %>

    <link rel="shortcut icon" href="/ASSET/img/Logo_Beige.svg" type="image/x-icon">
</head>
<body>
    <header>
        <!-- * hideLayout enlevé pour le login -->
        <% if (!hideLayout) { %>
            <%- include('./partials/nav.ejs') %>
        <% } %>
    </header>
    
    <main>
        <%- body %>
    </main>

    <aside>

    </aside>

    <!-- * hideLayout enlevé pour le login -->
    <% if (!hideLayout) { %>
        <%- include('./partials/footer.ejs') %>
    <% } %>


    <!-- * boostrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>
</html>