.badge-reglement {
    background-color: #28a745; // Vert
    color: white;
}

.badge-hygiène {
    background-color: #ffc107; // Jaune
    color: black;
}

.badge-produits {
    background-color: #17a2b8; // Bleu
    color: white;
}

.badge-prestations {
    background-color: #6f42c1; // Violet
    color: white;
}

.badge-formation {
    background-color: #fd7e14; // Orange
    color: white;
}

.badge-accueil {
    background-color: #20c997; // Vert d'eau
    color: white;
}

.badge-administration {
    background-color: #343a40; // Gris foncé
    color: white;
}

.badge-organisation {
    background-color: #007bff; // Bleu vif
    color: white;
}

.badge-equipe {
    background-color: #e83e8c; // Rose
    color: white;
}

.badge-qualite {
    background-color: #6610f2; // Violet foncé
    color: white;
}

.badge-event {
    background-color: #fd7e14; // Orange vif
    color: white;
}

.badge-sante {
    background-color: #dc3545; // Rouge
    color: white;
}

.badge-mention {
    background-color: #ff85ef; // rose vif
    color: white;
}

.badge-default {
    background-color: #6c757d; // Gris
    color: white;
}