@import 'variables';

.bg-profil {
    margin: auto;
    margin-top: 50px;
    background: linear-gradient(45deg, $primary-color, $tertiaire-color, $quatuor-color);
    padding: 20px;
    border-radius: 10px;
}