@import 'variables';

body {
    font-family: 'Arial', sans-serif;
    background-color: #EEEE;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ! MAIN
main {
    background-color: #EEEE;
    padding-top: 20px;
    padding-bottom: 20px;
}

