<h1> Liste des salariés</h1>

<div>

    <% employees.forEach(user => { %>
        <div>
            <h3>
                <%= user.fname %> <%= user.lname %>
            </h3>
            <p>
                <strong>Email:</strong> <%= user.email %><br>
                <strong>Poste:</strong>
            </p>
        </div>
    <% }) %>;
</div>