<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h1 class="m-5 d-flex justify-content-center"> Ajouter un salarié</h1>

        <!-- * Formulaire d'ajout -->
        <div class="card-body p-5">
          <form method="post" action="/add" enctype="multipart/form-data">

            <!-- ! Partie Principale  -->
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="fname" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="fname" name="fname">
              </div>
              <div class="col-md-6">
                <label for="lname" class="form-label">Nom</label>
                <input type="text" class="form-control" id="lname" name="lname">
              </div>
              <div class="col-md-6">
                <label for="avatar" class="form-label">Photo</label>
                <input type="file" class="form-control" id="avatar" name="avatar" accept="image/*">
              </div>
            </div>

            <!-- ! Poste -->
            <label for="poste_id">Poste :</label>
            <select id="poste_id" name="poste_id" required>
              <option value="">--Sélectionner--</option>
              <option value="1">Prothésiste ongulaire</option>
              <option value="2">Styliste ongulaire</option>
              <option value="3">Estheticien.ne</option>
              <option value="4">Conseiller.ère</option>
              <option value="5">Maquilleur.euse</option>
              <option value="6">SPA praticien.ne</option>
              <option value="7">Dermographe</option>
            </select><br><br>

            <!-- ! Contrat -->
            <label for="contrat_id">Type de contrat :</label>
            <select id="contrat_id" name="contrat_id" required>
              <option value="">--Sélectionner--</option>
              <option value="1">CDI</option>
              <option value="2">CDD</option>
              <option value="3">Stage</option>
              <option value="4">Apprentissage</option>
            </select><br><br>

            <!-- ! Date de naissance -->
            <div class="mb-3">
              <label for="birth_date" class="form-label">Date de naissance</label>
              <input type="date" class="form-control" id="birth_date" name="birth_date" max="<%= new Date().toISOString().split('T')[0] %>" required>
            </div>

            <!-- ! Partie Identification -->
            <div class="mb-3">
              <label for="email" class="form-label">Adresse email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            
            <div class="mb-3">
              <label for="phone" class="form-label">Téléphone</label>
              <input type="text" class="form-control" id="phone" name="phone">
            </div>
            
            <div class="mb-3">
              <label for="password" class="form-label">Mot de passe</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>

            <!-- ! Partie GPS  -->
            <div class="mb-3">
              <label for="street" class="form-label">Adresse</label>
              <input type="text" class="form-control" id="street" name="street">
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="cp" class="form-label">Code postal</label>
                <input type="text" class="form-control" id="cp" name="cp">
              </div>
              <div class="col-md-6">
                <label for="city" class="form-label">Ville</label>
                <input type="text" class="form-control" id="city" name="city">
              </div>
            </div>

            <!-- ! Partie Supplémentaire -->
            <div>
              <div class="col-md-6">
                <label for="observation" class="form-label">Observation</label>
                <textarea class="form-control" name="observation" id="observation"></textarea>
              </div>
              <div class="col-md-6">
                <label for="documents">Documents</label>
                <input type="file" name="documents" id="documents" class="form-control" accept=".pdf" multiple>

              </div>
            </div>

            <!-- * Post du salarié -->
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary">Valider</button>
            </div>
          </form>
        </div>